@import url('https://fonts.googleapis.com/css?family=Roboto');

$error: hsl(348, 100%, 61%);

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

.app {
    padding: 1rem;
}

.error {
    padding: 1rem;
    border: 1px solid $error;
    color: $error;
}

.loading {
    padding: 1rem;
}

.user-details-popup {
    position: fixed;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background: #FFF;
    padding: 1rem;
    .user-details-content {
        display: flex;
        align-items: flex-start;
    }
    .user-details {
        margin-right: 1rem;
        width: 400px;
    }
    .user_photos {
        flex: 1;
    }
}
.user-details-blocker {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
